@page "/colsultaprioridades"
@using System.Linq.Expressions
@inject HttpClient httpClient
@inject PrioridadesBLL PrioridadesBLL

<div class="card">
    <div class="card-header">
        <h3>Consulta de Prioridades</h3>
    </div>

    <div class="card-body">
      
            <button type="button" @onclick="Buscar" class="btn btn-primary">
                <i class="oi oi-magnifying-glass" /> Buscar
            </button>
      
        @if (prioridades is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>PrioridadId</th>
                        <th>Descripcion</th>
                        <th>DiasCompromiso</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Prioridad in prioridades)
                    {
                        <tr>
                            <td>@Prioridad.PrioridadId</td>
                            <td>@Prioridad.Descripcion</td>
                            <td>@Prioridad.DiasCompromiso</td>
                            <td><a href="Prioridad/@Prioridad.PrioridadId">Ver</a></td>
                        </tr>
                    }

                </tbody>

            </table>
        }
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
            <div class="col-3">
                <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                <input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>

@code {
    public Prioridades prioridad { set; get; } = new Prioridades();
    public List<Prioridades>? prioridades { get; set; }
    public int conteo { get; set; }

    public async Task Buscar()
    {
        Expression<Func<Prioridades, bool>> criterio = prioriades => prioridad.PrioridadId > 0;

        prioridades = await PrioridadesBLL.Listar(criterio);

    }


}
